body {
  background: #e1e1e1;
}

.nav-link {
  color: white;
  background-color: black;
}

.nav-link:hover {
  border: 1px solid black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

header {
  padding: 2% 10%;
}

.header {
  border: 5px solid black;
  padding: 20px;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.main {
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.main-hero {
  height: 100%;
  width: 50%;
  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.main-content {
  width: 40%;
  padding: 0 20px;
}

.content-name {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 0;
}

.content-title {
  margin: 5px 0 30px 0;
  font-weight: bold;
  color: #333;
}

.resume {
  border-radius: 5px;
}

.content-description {
  margin: 30px 0;
  text-wrap: pretty;
  width: 70%;
}

.content-education {
  margin: 30px 0;

  & p {
    margin: 0;
  }
}

.education-title {
  font-weight: bold;
}
