body {
  background: #e1e1e1;
}

.nav-link {
  color: white;
  background-color: black;
}

.nav-link:hover {
  border: 1px solid black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

header {
  padding: 2% 10%;
}

.header {
  border: 5px solid black;
  padding: 20px;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.main {
  width: 99vw;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.content-header {
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-left: 36px;
}

.content-content {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 300px;
  position: relative;
}

.project-item:hover {
  & .project-item-content {
    background-color: rgba(0, 0, 0, 0.9);
    & p,
    a,
    .skill-item {
      display: block;
    }
  }
}

.project-item-content {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: fit-content;
  transition: 0.3s;
  color: white;

  & p,
  a {
    display: none;
  }
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
}

.item-title {
  font-size: 2em;
  margin: 1px;
  font-weight: bold;
}

.item-description {
  color: rgba(255, 255, 255, 0.692);
  margin: 1px;
}

.techs {
  display: flex;
  gap: 10px;
  width: 100%;
  padding-right: 10px;
  justify-content: flex-end;
}

.skill-item {
  margin-top: 20px;
  display: none;
  position: relative;

  & img {
    width: 30px;
    object-fit: contain;
  }
}

.skill-item:hover {
  & .tooltip {
    display: block;
  }
}

.tooltip {
  top: -40px;
  left: -10px;
  position: absolute;
  background: #000;
  color: white;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  display: none;
}

.project-link {
  font-size: 1em;
}

.jotchua {
  background: url("./../images/jotchuabot.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.zeromath {
  background: url("./../images/zeromath.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.charvault {
  background: url("./../images/charvault.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gamesdump {
  background: url("./../images/gamesdump.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.spotifried {
  background: url("./../images/spotiifried.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1024px) {
  .project-item {
    width: 50%;
  }
}

@media only screen and (max-width: 425px) {
  .nav-links-holder {
    display: block;
  }

  header {
    padding: 5%;
    margin-bottom: 20px;
  }

  .project-item {
    width: 100%;
  }
}
