body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  background: linear-gradient(-80deg, black 50%, #e1e1e1 50%);
}

header {
  padding: 5% 10%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-menu {
  display: none;
}

.closed {
  display: none;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

/* HEADER */
.nav-links-holder {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  cursor: pointer;
  text-shadow: 1px 1px 4px black;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  transition: 0.3s;
}

.nav-link:hover {
  background-color: white;
  color: black;
}

.select {
  color: black;
}
/* END HEADER */

/* MAIN */

.mobile-intro {
  display: none;
}

.intro {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vw;
}

.pre-intro {
  font-size: 2em;
  margin: 0 0 30px 0;
}

h1 {
  font-size: 5em;
  margin: 0;
}

.title-intro {
  margin: 0;
  font-size: 1.5em;
  color: #a0a0a0;
}

.btn-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn-icon {
  color: black;
  text-decoration: none;
  padding: 8px 10px;
  background-color: #f0f0f0;
  border-radius: 20px;
  transition: 0.3s;
}

.btn-icon:hover {
  background-color: black;
  color: white;
}

.hero {
  position: absolute;
  width: 600px;
  bottom: 0;
  right: 10%;
  top: 15%;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
/* END MAIN */

@media only screen and (max-width: 1024px) {
  main {
    margin-top: 10%;
  }

  .pre-intro {
    font-size: 1.5em;
    margin: 0 0 10px 0;
  }

  h1 {
    font-size: 4em;
  }

  .title-intro {
    margin: 0;
    font-size: 1.2em;
    color: #a0a0a0;
  }

  .hero {
    right: 0;
    width: 500px;
  }
}

@media only screen and (max-width: 768px) {
  .pre-intro {
    font-size: 1.2em;
    margin: 0 0 10px 0;
  }

  h1 {
    font-size: 3em;
  }

  .title-intro {
    margin: 0;
    font-size: 1em;
    color: #a0a0a0;
  }

  .hero {
    width: 400px;
  }

  .btn-icons {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 425px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: black;
  }

  header {
    padding: 3% 10%;
  }

  .nav-links-holder {
    display: none;
  }

  .hamburger-menu {
    display: block;
    background: none;
    outline: none;
    border: none;
  }

  .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }

  main {
    margin-top: 0;
    padding: 0;
  }

  .hero {
    position: fixed;
    width: 100%;
    top: 10%;
  }

  .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  .intro {
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    z-index: 1;
    position: absolute;
    bottom: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
  }

  .pre-intro {
    font-size: 1.3em;
    margin: 10px 0;
  }

  h1 {
    font-size: 2em;
    margin: 0;
  }

  .title-intro {
    margin-bottom: 10px;
    font-size: 1em;
    color: white;
  }

  .btn-icons {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .btn-icon {
    color: black;
    text-decoration: none;
    padding: 8px 10px;
    background-color: #f0f0f0;
    border-radius: 20px;
    transition: 0.3s;
    margin: 5px;

    & svg {
      width: 20px;
      height: 20px;
    }
  }

  .modal {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.884);
    height: fit-content;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .close-modal {
    color: white;
    font-size: 1.5em;
  }

  .closed {
    display: none;
  }

  .open {
    display: flex;
  }
}
