/* RESET */
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  height: 100vh;
}

p {
  margin: 0;
}

.btn {
  color: white;
  padding: 20px;
  background-color: black;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}
/* COVER */
.cover {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("https://picsum.photos/1920/1080");
  background-size: cover;
  background-position: center;
  transition: transform 0.6s ease-in-out;
}

.bg {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  background-color: rgba(0, 0, 0, 0.5);
}

.info {
  margin: 5em;
  color: white;
  user-select: none;
}

#date {
  font-size: 2em;
}

#time {
  font-size: 4em;
}

.links {
  display: flex;
  gap: 20px;
}

.unlock {
  text-align: center;
  font-size: 1.5em;
  color: rgb(196, 196, 196);
  background: linear-gradient(
    120deg,
    rgb(196, 196, 196) 0%,
    #ffffff 40%,
    #f0f0f0 50%,
    #ffffff 60%,
    rgb(196, 196, 196) 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  /* color: transparent; */
  -webkit-text-fill-color: transparent;
  animation: shine-text 2s linear infinite;
}

@keyframes shine-text {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}


@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.btn-circle {
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;

  & img {
    width: 100%;
    object-fit: scale-down;
  }
}

@keyframes bouncy {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* MAIN CONTENT */
main {
  padding: 5em;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  border-radius: 20px;
  padding: 20px;
  background: linear-gradient(135deg, #202020, #111111);
  transition: transform 0.3s ease;

  & .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & .title {
      font-size: 2em;
      font-weight: bold;
    }
    & .subtitle {
      color: gray;
    }
  }
}
.card:hover {
  transform: translateY(-5px);
}

/* PROFILE */

.profile {
  display: flex;
  gap: 20px;

  & img {
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
  }
}

/* ABOUT */

.content-title {
  margin: 5px 0 30px 0;
  font-weight: bold;
  color: gray;
  margin-top: 20px;
  align-self: center;
}

.content-education {
  margin: 30px 0;

  & p {
    margin: 0;
  }
}

.education-title {
  margin: 0;
  font-weight: bold;
  color: gray;
}

/* SKILLS */

.skills .content {
  height: 100%;
}

.carousel {
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  position: relative;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.track {
  display: flex;
  gap: 30px;
  width: max-content;
  animation: none;
}

.track img {
  width: 50px;
  flex-shrink: 0;
  object-fit: contain;
}

/* PROJECTS */

.projects {
  display: flex;
  gap: 10px;
}

.project {
  width: 300px;
  height: 200px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & .project-data {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    & .project-title {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
}

.capsule {
  border-radius: 50px;
  padding: 5px 10px;
}
